################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Innovation2/v16

**/.vs
**/packages
**/paket-files
**/Paket.Restore.targets
**/obj
**/bin
**.txt
**.bin
**.docx
**/build
**/.fake
**.DotSettings.User
*.user
/AAA/Rapportering/.Rhistory
/AAA/nunit-agent_49148.log
/AAA/nunit-agent_47584.log
/AAA/nunit-agent_27608.log
/AAA/nunit-agent_23760.log
/AAA/nunit-agent_14032.log
/AAA/InternalTrace.48972.log
*.log
**/.idea
**/launchSettings.json